/* Body */
html,
body {
  background: linear-gradient(to left, #42275a, #734b6d, #42275a);
  font-family: 'Pompiere', cursive;
  color: #e7e7e7;
}

.time-remaining-text {
  margin-bottom: 20px;
}

.question-text {
  color: #000;
  margin-top: 15px;
  height: 200px;
}

.row .col-md-6 {
  padding: 10px 10px;
}

.btn>h3 {
  margin: 0;
}

html,
body {
  height: 100%;
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 4.0rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}